@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}