body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.01em;
  background-color: mintcream;
}

header.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;

  background-color: #224C73;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  height: 60px;
  width: 60px;
}

header .logo-container .header-title {
  font-size: 22px;
  font-weight: 500;
  color: white;
  margin-left: 16px;
}

header .header-menu {
  display: flex;
  align-items: center;
}

header .header-menu nav {
  display: flex;
}

header .header-menu nav a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  margin-right: 32px;

  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

header .header-menu nav a::before {
  content: "";
  background-color: #49A2F4;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 2px;
}
