body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
} 

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000 2px solid;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #808c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos .produto-descricao {
    font-size: 18px;

}

.produtos .produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

body footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px;
}

body footer .copyright {
    font-size: 13px;
    color: white;
    margin-top: 20px;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: .5s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid #000;
    padding: 8px 15px;
}

/* Estilo da página principal */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background: #FEFEFE;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888)
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background-color: #888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "★";
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {

    main section.principal,
    main section.mapa,
    main section.beneficios {
        padding: 3em 1em;
    }

    .caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    body header nav {
        position: static;
        padding-bottom: 1em;
    }

    body header nav ul {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

    main .produtos {
        width: auto;
        padding: 50px 1em;
    }

    main .produtos li {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }

    main form label,
    main form legend {
        margin: 0 auto .5em;
        text-align: center;
    }

    main form .input-padrao {
        margin: 0 auto 1em;
    }

    main form select {
        margin: 0 auto;
        display: block;
    }

    main form table {
        margin: 0 auto 1em;
    }

    main form input.enviar {
        margin: 0 auto;
        display: block;
        width: auto;
        padding: 15px;
    }
}