.button-arrow {
  width: 50px;
  height: 50px;

  background: #007DF2;
  box-shadow: 5px 5px 5px 0px #000;
  cursor: pointer;
  transition: .4s background ease;
  will-change: background;

  border: none;
  border-radius: 4px;
}

.button-arrow .content {
  display: none;
}

.button-arrow::before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-right: 15px solid #FFF;
}

.button-arrow.-right::before {
  transform: rotate(180deg) translateX(-12px);
}

.button-arrow:hover {
  background-color: #49A2F5;
  transition: .4s background ease;
}