.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background: gray;
  box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
  background: #4C5B84;
}