.main-banner {
  background-image: url('../../assets/images/photo.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 800px;
  border-bottom: 10px solid #000;
  position: relative;
}

.main-banner .wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  margin-left: 10vw;
}

.main-banner .wrapper #main-box {
  margin-bottom: 24px;
}

.main-banner .wrapper .navigation {
  display: flex;
  gap: 16px;
}
