#main-box {
  display: inline-block;

  background-color: #373737c7;
  box-shadow: 10px 10px 10px #b12020b0;
  border-radius: 4px;

  padding: 10px 45px;

  text-align: center;
}

#main-box h1 {
  margin-bottom: 28px;
}

#main-box h1.main-title {
  color: #fff;
}

#main-box h2.main-subtitle {
  color: #afd8ff;
}