.main-input {
  border: 5px solid #030303;
  border-radius: 4px;
  font-size: 30px;
  height: 50px;
  width: 100%;

  box-sizing: border-box;

  padding: 0 5px;

}

.main-input.-textarea {
  height: 400px;
}