.main-section {
  background-color: #49A2F4;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #224C73;
}

.main-ection.-bgBlack {
  background: #000;
}

.main-section.-bgMarine {
  background: #224C73;
}

.main-section .main-title {
  margin-bottom: 60px;
}