.main-button {
  width: 170px;
  height: 48px;
  background-color: #007DF2;
  border: none;
  border-radius: 4px;
  
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  will-change: background;
  transition: .4s background ease;
}

.main-button:hover {
  background-color: #49A2F5;
  transition: .4s background ease;
}

.main-button.-full {
  width: 100%;
}