.main-carousel {
  position: relative;
  padding: 40px 100px;
}

.main-carousel::after {
  content: ' ';
  position: absolute;
  left: 30px;
  top: 70px;
  height: 0;
  border-top: 2px solid #fff;
  width: calc(100% - 60px);
  display: block;
  background-color: #FFF;
}

.main-carousel::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 70px;
  border-top: 2px dashed #fff;
  width: 100%;
  display: block;
}

.main-carousel .button-arrow {
  position: absolute;
  bottom: 70px;
  transform: translateY(-100%);
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}

.main-carousel .items {
  width: 100%;
  overflow: hidden;
}

.main-carousel .elements {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  will-change: transform;
  transition: transform ease-out .5s;
}
