.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.node-card::after {
  content: '';
  box-sizing: border-box;
  border: 2px dashed #fff;
  height: 40px;
  width: 0px;

  transform: translateY(calc(-140px - 150%));
}

.node-card .title {
  font-size: 25px;
  color: #FFF;
  text-align: center;
  margin-bottom: 50px;
}

.node-card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 140px;
  border: 5px solid #FFF;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #CEB02A;
}

.node-card.-clean .logo {
  padding: 0;
}

.node-card.-bgWhite .logo {
  background-color: #FFF;
}

.node-card.-bcBlack .logo {
  border: 5px solid #000;
}

.node-card .logo img {
  max-height: 100px;
}

.node-card.-clean .logo img{
  max-height: 140px;
}