.progress-bar {
  display: flex;
  box-sizing: border-box;

  height: 40px;
  border-radius: 5px;

  border: 3px solid #000;
  background-color: white;
}

.progress-bar::-moz-progress-bar {
  background: #224C73;
}

.progress-bar::-webkit-progress-value {
  background-color: #224C73;
}

.progress-bar::-webkit-progress-bar {
  background: white;
}
