.skill-tech {
  display: flex;
  align-items: center;
}

.skill-tech .icon {
  height: 90px;
  width: 90px;
  margin-right: 25px;
}

.skill-tech .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-tech .title {
  font-size: 25px;
  color: white;
  font-weight: 500;
  margin-bottom: 16px;
}